.button {
  width: 180px;
  height: 60px;
  background-color: #00cc99;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #00e6ac;
  }
}
