.section {
  width: calc(100% - 400px);
  height: calc(100%/4);
  background-color: #f3f1f1;
  position: relative;
  left: 400px;
  box-sizing: border-box;
  border: 2px solid gold;

  &--first {
    background: url(../images/banner.jpg) no-repeat;
    background-size: cover;
  }
  &--second {
    height: calc(100%/4 * 2);
  }
}
