 .button {
 	background-color: #7faaa8;
 	border-radius: 5px;
 	border-width: 0px;
 	height: 45px;
 	width: 170px;
 	color: white;
 	display: block;
 	margin: 0 auto;
 	outline: none;
 }
@media screen and (max-width: 1024px) {
.button {
 	width: 120px;
 	height: 35px;
 	}
}
