 .button__container {
 	padding: auto 10px auto 10px;
 	height: 100%;
 	width: 100%
 	color: white;
 }
 .button{
 background-color: #7faaa8;
 border-radius: 5px;
 border-width: 0px;
 display: block;
 margin: 0 auto;
 outline: none;
 }
@media screen and (max-width: 1024px) {
.button__container  {
  padding: auto 5px auto 5px;
 	}
}
