 .form__name {
 	display: inline-block;
 	width: 45%;
 	margin-right: 30px;
 }
 .form__email {
 	display: inline-block;
 	width: 45%;
 }

 .form__inputs-wrapper {
 	width: 100%;
 	display: flex;
 	justify-content: space-between;
 }
