.navigation {
 	list-style-type: none;
 	padding-left: 25px;
 	padding-right: 25px;
 }
 .navigation__options {
 	color: #5c5c62;
 	transition: color 200ms;
 }
 .navigation__listLink{
 	display: flex;
 	justify-content: space-between;
 	text-decoration: none;
 	align-items: center;
 	height: 45px;
 }

 .navigation__listLink:visited,
 .navigation__listLink:active,
 .navigation__listLink:link {
 	color: #5c5c62;
 }