.picture {
 	display: flex;
 	flex-direction: row;
 	justify-content: space-around;
 	align-items: center;
 }
 .picture__figure {
 	box-sizing: border-box;
 	width: calc(100%/3);
 	text-align: center;
 	padding: 0 10px;
 	background-color: white;
 }

