 .prologue {
 	padding: 50px 30px 20px 30px;
 	color: white;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	background-image: url(/images/banner.jpg);
 	-webkit-background-size: 100% 100%;
 	background-size: 100% 100%;
 	height: 100%;
 	
 }
 .prologue__container-f {
 	font-size: 35px;
 	margin-bottom: 20px;
 	width: 540px;
 }
 .prologue__container-s {
 	color: #e0e0dd;
 	margin-bottom: 20px;
 }
 

