.states {
  padding-left: 16px;
}

.btn-link {
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: normal;
  background-color: transparent;
  border: 0;
  font-size: inherit;
}

.btn-link svg {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  margin-right: 3.89px;
}

.btn-link--selected {
  font-weight: 600;
}

.btn-link + .btn-link {
  margin-left: 13.89px;
}
