@reset-global pc;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
