.input-form__name-field{
    width: 30%;
    height: 40px;
    margin: 1em;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #DCDCDC;
    z-index:10;
}

.input-form__email-field{
  width: 30%;
  height: 40px;
  margin: 1em;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DCDCDC;
}

.input-form__message-field{
  width: 60%;
  height: 300px;
  margin: 1em;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DCDCDC;
}
