.input-form__field{
  width: 30%;
  height: 40px;
  margin: 1em;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DCDCDC;
}

.input-form__field--big-size{
  width: 60%;
  height: 300px;
  margin: 1em;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DCDCDC;
}