@reset-global pc;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/* img {
  max-width: 100%;
  height: auto;
} */

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.6em;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
