.btn-link {
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: normal;
  background-color: transparent;
  border: 0;
  font-size: inherit;
}

.btn-link svg {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  margin-right: 5px;
}

.btn-link--open svg {
  color: rgb(40, 167, 69);
}

.btn-link--closed svg {
  color: rgb(203, 36, 49);
}

.btn-link--selected {
  font-weight: 600;
}

.btn-link + .btn-link {
  margin-left: 10px;
}
