.description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.description__item {
  text-align: center;
  width: 90%;
}

.description__context {
  padding-bottom: 50px;
}

.contact {
  padding: 10px;
  background-color: #f1f6f6;
}
  
@media (min-width: 900px) {
  .description__item {
    width: 50%;
  }
}