main {
  .images {
    display: flex;
    flex-direction: row;
  }

  .images__item {
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
  }

  .images__item img {
    max-width: 100%;
  }

  .images__label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    margin-bottom: 20px;
  }  
}
