.networks {
  margin-top: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.networks__link {
  color: #666;
  padding-right: 10px;
}

.networks__link:hover {
  color: #fff;
}
