.sidebar {
  .profile__full-name {
    color: #fff;
    font-size: 120%;
  }

  .profile__top-info {
    display: flex;
  }

  .profile__specialization {
    color: #666666;
  }

  .profile__text-info {
    width: 60%;
    align-items: right;
    text-align: right;
  }
}