@import './styles';

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
form {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
