body {
  margin: 0;
  box-sizing: border-box;
}
*, ::before, ::after {
  box-sizing: inherit;
}


.sidebar {
  position: fixed;
  height: 100%;
  width: 400px;
  background-color: rgba(30, 30, 30, 1);
  box-shadow: inset 0 0 20px rgba(0,0,0,1);
}

nav {
  display: flex;
  flex-direction: column;
}

nav a {
  color: gray;
  text-align: right;
}

.menu-header {
  margin: 15px 20px 15px 20px;
  height: 80px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-header h3 {
  margin: 5px 0 0 0;

  color: white;
  text-align: right;
}

.menu-header h4 {
  margin: 3px 0 0 0;

  color: gray;
}

.menu-item:hover {
  background-color: rgba(255,255,255, 0.3);
}

.menu-item a {
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  font-size: 25px;
}

.menu-item a:hover {
  color: white;
}
.menu-item a:hover .fa {
  color: rgba(140, 10, 30, 1);
}

.content {
  position: relative;
  width: calc(100% - 400px);
  font-size: 30px;
  left: 400px;
  background-color: rgba(170, 20, 30, 0.7);
  padding: 20px 20px 0 20px;
}

.intro {
  background: url(../images/banner.jpg) no-repeat;
  height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro span {
  text-align: center;
  color: white;
  text-shadow: 0 2px 5px rgba(0,0,0,0.5);

}

.portfolio {


}

.portfolio h1 {
  text-align: center;
  color: white;

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  padding-left: -20px;
  padding-right: -20px;

}

.col {
  width: calc(100% / 3);
  float: left;
}

.card {
  text-align: center;
    margin: 20px 20px 0 20px;

}

.card img {
  min-width: 100%;
}

.about-me {

}

.contact {

}
