.article {
	
}
.article--intro {
	background-image: url(/images/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.article--portfolio {
	background-color: #f1f6f6;
	padding-top: 2em;
}
.artcile--contact {
	background-color: #e4e9e8;
	padding: 2em 3em 2em 3em;
}