.figure {
	
}
.figure__img {
	display: block;
}
.figure__title {
	display: block;
	text-align: center;
	color: gray;
	background-color: white;
	line-height: 1em;
	margin-bottom: 1em;
}
@media screen and (max-width: 800px) {
	.figure__img {
		width: 100%;
	}
}