.profile {
	padding: 2em 1em 2em 1em;
}
.profile__info {
	display: inline-block;
	width: calc(100% - 54px);
	line-height: 1em;
	vertical-align: top;
}
.profile__name {
	display: block;
	color: white;
	font-size: 24px;
	text-align: right;
}
.profile__prof {
	display: block;
	color: gray;
	margin: 12px 0 0 0;
	font-size: 12px;
	text-align: right;
}