.pagehead {
  position: relative;
  padding-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e4e8;
  background-color: #fafbfc;
}
.container {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
}
.repohead-container {
  margin-bottom: 20px;
}
.pagehead-title {
  font-size: 18px;
  line-height: 26px;
  color: #586069;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}
