.side-info {

  &__avatar {
    float: left;
  }

  &__name {
    padding: 5px 0 0 0;
    color: white;
    text-align: right;
    font-size: 1.3rem;
  }

  &__profession {
    padding: 3px 0 0 0;

    color: gray;
    text-align: right;
    font-size: 1.3rem;
  }
}
