.toggle-menu {
  position: fixed;
  margin: 2%;
  padding: 2%;

  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.2);

  z-index: 999;

  &__icon {
    font-size: 2em;
    color: rgba(255,255,255,0.8);
  }
}

@media (min-width: 900px) {
  .toggle-menu {
    display: none;
  }
}
