.burger-button {
  position: fixed;
  font-size: 40px;
  padding: 6px 20px;
  margin: 10px;
  opacity: 0.5;
  color: black;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  background-color: white;

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: 1000px) {
  .burger-button {
    display: none;
  }
}