.button {
  font-family: 'Source Sans Pro', sans-serif;
  width: 250px;
  height: 75px;
  background-color: #85b3b0;
  color: #ebfff9;
  font-size: 22px;
  border: none;
  border-radius: 10px;
}
.button:hover {
  color: white;
  box-shadow: #6a9e9b 0 0 0 1px;
  background-color: #6a9e9b;
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.button:active {
  background-color: #2c6f6b;
  box-shadow: #2c6f6b 0 0 0 1px;
}