.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px;
  background-color: #222628;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

