.user-card__image {
  padding: 40px;
}
.user-card__info {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-card__name {
  color: white;
  margin: 0;
  padding-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
}
.user-card__position {
  color: grey;
  font-size: 14px;
}