.form {
  &__field-wrapper {
    width: 100%;
  }

  &__field {
    margin-top: 1.5rem;
    padding: 10px;
    font-size: 3.0rem;
    outline: 0;
    border: 0;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.75);
  }

  &__field--input {
    width: 48%;
    min-width: 300px;
  }

  &__field--input:first-child {
    margin-right: 3.5%;
  }

  &__input--textarea {
    width: 100%;
    resize: none;
  }

  &__button {
    margin: 5.0rem auto;
  }
}
