.nav {
  color: #212528;

  &__link {
    height: 50px;
    padding: 0 30px;
    align-items: center;
    font-size: 2.2rem;
    color: #666;
    text-decoration: none;

    display: flex;
    justify-content: space-between;
  }

  &__link:hover {
    background-color: #0c0d10;
    color: white;
  }

  &__link:hover .fa {
    color: #e27689;
  }
}