.socials {
  padding: 5% 15%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &__icon {
    cursor: pointer;
    margin:  0 10px;
    width: 30px;
    height: 30px;
  }
}
