.body{
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: row;
}

.content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.description{
  text-align: center;
  margin: 20px 50px;
  font-size: 20px;
}

.title{
  text-align: center;
  font-size: 50px;
  color: #656565;
  padding: 15px;
}

.portfolio{
  background-color: #f5f9f9;
  color: #888;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.15);
}
