.contact{
  background-color: #e2e7e6;
  height:1000px ;
  color: #888;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.15);
}

.contact__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px){
.form__inputs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}
