.contact__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px){
.form__inputs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}
