@media (min-width: 500px){
.portfolio__gallery{
  display:flex;
  justify-content: space-around;
}
}

.gallery__cards{
  display:flex;
  flex-direction: column;
}

.cards__items{
  display: flex;
  flex-direction: column;
  margin: 15px;
  background-color: #fff;
  text-align: center;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.15);
}

.itema__image{
  width: 100%;
  height: 100%;
}
