.intro{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../images/banner.jpg);
  background-size: 100% 100%;
  padding: 15% 0;
  color: #fff;
}

.intro__content{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content__header{
  text-align: center;
  margin: 15px;
  font-size: 40px;
}

.content__description{
  text-align: center;
  margin: 15px;
  font-size: 20px;
}
