@media (max-width: 899px){
.menu-button{
color: #fff;
font-size: 18px;
line-height: 2.25em;
background: rgba(128, 136, 144, 0.5);
border-radius: 0.35em;
text-align: center;
position: fixed ;
left: 0.5em;
top: 0.5em;
display: block;
width: 3.25em;
height: 2.25em;
line-height: 2.25em;
 }
}

@media (min-width: 900px){
  .fa-bars {display: none;
  }
}
