.sidebar__profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
}

.profile__avatar{
     padding: 3%;
}

.profile__info{
    display:flex;
    flex-direction: column;
    text-align: right;
}

.profile__name{
   font-weight: bold;
   margin: 0;
}
