.button{
    margin-left: calc(40% - 16px);
    background-color: #78a1a0;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}