.input{
    display: block;
    margin: 10px;
&__message{
    display: block;
    height: 50vh;
    width: 98%;
}

&__name{
    display: inline-block;
    width: 45%;
    margin-bottom: 7px; 
}

&__email{
    float: right;
}
}