.intro{
    background: url("../images/banner.jpg");

&__text{
    padding: 10%;
    text-align: center;
    color: white;
}

&__h1{
    font-size: 1.6em;
}

&__h3{
    font-size: 0.9em;
}

&__h1_underline{
    text-decoration: underline;
}
}

