.portfolio{
    padding: 20px;
    height: auto;
&__caption{
    margin-left: calc(40% - 16px);
    font-size: 1.3em;
    color: black;
    font-weight: 100;
}

&__description{
    margin: 20px;
}
}

