body {
    margin: 0;
    overflow-y: hidden;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.text--light {
    color: #ffffff;
}

.text--underline {
    text-decoration: underline;
}

.i--active {
    color: #F87D92;
}

.span--active {
    color: #ebe9e9;
}

.rounded-button {
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 25px;
    margin-bottom: 25px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 17px 42px;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #E5FFFF;
    background-color: #9ad9d4;
    background-image: -moz-linear-gradient(top, #99d0cb 0%, #6ba39e 100%);
    background-image: -webkit-linear-gradient(top, #99d0cb 0%, #6ba39e 100%);
    background-image: -o-linear-gradient(top, #99d0cb 0%, #6ba39e 100%);
    background-image: -ms-linear-gradient(top, #99d0cb 0%, #6ba39e 100%);
    background-image: linear-gradient(top, #99d0cb 0%, #6ba39e 100%);
    transition-duration: 500ms;
}

.rounded-button:hover {
    opacity: 1;
    transition-duration: 500ms;
}

.rounded-button:focus {
    outline: 0;
    opacity: 1;
}

.pretty-text-block {
    height: 30vh;
    width: 100%;
}

.pretty-text-block__element {
    margin: 0 auto;
    width: 92%;
    padding: 0.5em;
    font-size: 20px;
    text-align: center;
    color: #a7a7a7;
    line-height: 2.4rem;
}

.pretty-text-block__element--large {
    color: #757575;
    font-size: 40px;
    margin-top: 4vh;
}

.grid {
    width: 100%;
    height: 90vh;
}

.grid .grid-row {
    height: 90vh;
    width: calc((100vw - 20%));
}

.grid .grid-row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.grid-row .grid-column {
    float: left;
    height: 90vh;
    width: calc((100vw - 20%)/3);
}

.grid-column .grid-column-element {
    width: 90%;
    padding: 5%
}

.sidebar {
    position: fixed;
    top: 0%;
    width: 20vw;
    min-width: 200px;
    height: -webkit-fill-available;
    background-color: #2B2C36;
    color: #ececec;
    box-shadow: inset 0px 0px 10px rgb(18, 18, 22);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    width: 16vw;
    padding: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__avatar {
    width: 50px;
    height: 50px;
}

.card-text-block {
    width: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-text-block__element {
    color: #a9a9a9;
    font-size: 13px;
}

.card-text-block__element--bold {
    font-weight: bold;
    font-size: 16px;
    color: #e6e6e6;
}

.sidebar-menu-list {
    height: fit-content;
    color: #a9a9a9;
}

.sidebar-menu-list__element {
    cursor: pointer;
    height: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    transition-duration: 500ms;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-menu-list__element:hover {
    background: #16161B;
    transition-duration: 500ms;
}

.sidebar-menu-list__element--focus {
    background: #16161B;
}

.sidebar-social-list {
    cursor: pointer;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    color: #8d8d8d;
    transition-duration: 500ms;
}

.sidebar-social-list__element:hover {
    color: #ebe9e9;
    transition-duration: 500ms;
}

.content {
    height: -webkit-fill-available;
    height: -moz-available;
    overflow-y: scroll;
}

.intro {
    margin-left: 20%;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    height: 100vh;
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-text-block {
    width: 50%;
    text-align: center;
    color: #bdbdbd;
}

.intro-text-block__element {
    margin: 0 auto;
    width: 60%;
    margin-bottom: 1em;
    font-size: 18px;
}

.intro-text-block__element--large {
    font-size: 2rem;
}

.portfolio {
    margin-left: 20%;
    height: 120vh;
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    margin-left: 20%;
    height: 120vh;
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact {
    margin-left: 20%;
    height: 100vh;
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 239, 233);
}

.form {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-block {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2%;
}

.form-block__element {
    font-family: 'Nunito', sans-serif;
    border: 1.4px solid #d8d8d8;
    background: #F6F6f6;
    border-radius: 8px;
    font-size: 18px;
}

.form-block__element:focus {
    outline: 0;
}

.form-input {
    width: 30vw;
    height: 5vh;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 2px;
    padding-right: 6px;
}

.form-textarea {
    width: 62vw;
    height: 30vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-right: 12px;
}