body{
  margin: 0;
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: border-box;
}
.name-job-position p {
  color: #fff;
}
.nav {
  min-height: 400px;
  height: 100vh;
  width: 400px;
  background-color: #1a1919;
  position: fixed;
  left: 0;
  top: 0;
}
.introduce {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar {
  margin-left: 26px;
}
.name-job-position {
  margin-right: 26px;
  color: #fff;
  text-align: right;
}
.name-job-position p:first-child {
  font-size: 25px;
  line-height: 0.05;
  font-weight: bold;
}
.name-job-position p:last-child {
  font-size: 15px;
  line-height: 0.05;
}
a {
  height: 60px;
  width: 100%;
  display: block;
  text-decoration: none;
  color: #807878;
}
.menu-item {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-item:hover {
  background-color: #0e0a0b;
}
.menu-item div:first-child {
  font-size: 25px;
  margin-left: 26px;
}
.menu-item:hover div:first-child {
  color: #ff66a3;
}
.menu-item div:last-child {
  margin-right: 26px;
  font-size: 25px;
}
.menu-item:hover div:last-child {
  color: #fff;
}
.nav-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: #807878;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-footer div {
  margin: 10px;
  font-size: 25px;
}
.section {
  height: 100vh;
  width: calc(100% - 400px);
  position: relative;
  left: 400px;
  box-sizing: border-box;
}
.section1 {
  min-height: 600px;
  background: url(../img/banner.jpg) no-repeat;
  background-size: cover;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section1 p {
  color: rgba(255, 255, 255, 0.7);
}
.section1 p span {
  color: rgba(255, 255, 255, 1);
}
.section1 p span:nth-child(2),
.section1 p span:nth-child(3){
  border-bottom: 1px dashed rgba(255, 255, 255, 1);
}
.section1 p:nth-child(1) {
  font-size: 25px;
  width: 40%;
  line-height: 1.5;
}
.section1 p:nth-child(2) {
  font-size: 15px;
  width: 30%;
  line-height: 1.5;
  margin-top: 0;
}
.text-section1 {
  width: 100%;
  border: 1px solid red;
}
.button {
  margin-top:20px;
  height: 60px;
  width: 180px;
  background-color: rgba(51, 255, 204, 0.6);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
}
.button:hover {
  background-color: rgba(51, 255, 204, 0.8);
}
.section2 {
  min-height: 1200px;
  background-color: rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section2 h1{
  font-size: 25px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: normal;
}
.section2 p{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  width: 96%;
  line-height: 1.8;
}
.row {
  max-width: 1200px;
  margin: 0 30px 0 30px;
  width: 100%;
  border: 1px solid green;
}
.column {
  padding: 10px;
  height: auto;
  width: calc(100% / 3);
  border: 1px solid yellow;
  float: left;
  display: inline;
  vertical-align: top;
}
.figure {
  font-size: 0;
}
.figure img {
  width: 100%;
}
.figure p {
  margin: 0;
  padding: 10px;
  background-color: #fff;
  width: 100%;
}
.section3 {
  min-height: 700px;
  background-color: rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section3 h1{
  font-size: 25px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: normal;
}
.section3 p{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  width: 96%;
  line-height: 1.8;
}
.section3 input {
  margin: 10px;
}
form {
  width: 96%;
}
.section3 .form-name {
  margin-left: 0;
}
.section3 .form-email {
  margin-right: 0;
}
.form-name,
.form-email {
  width: calc(50% - 13px);
  height: 60px;
}
.section3 .form-message {
  display: block;
  width: 100%;
  margin: 10px 0 10px 0;
}
.form-name,
.form-email,
.form-message {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
}
.form-message {
  min-height: 240px;
}
