.button {
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  display: inline-block;
  border-radius: 0.35em;
  color: #fff;
  text-decoration: none;
  background-color: #8ebebc;
  border: 0;
  cursor: pointer;
  outline: none;
  margin: 20px;
  font-size: 20px;
  padding: 20px 60px;

  &:hover {
    background-color: #9ececc;
  }
}
