.main {
  position: relative;
  width: 100%;
  left: 0;
}

@media screen and (min-width: 960px) {
  .main {
    width: 75%;
    left: 25%;
  }
}

@media screen and (min-width: 1320px) {
  .main {
    width: calc(100% - 300px);
    left: 300px;
  }
}
