.profile {
  padding: 4vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  &__avatar {
    width: 52px;
    height: 52px;
  }

  &-info {
    text-align: right;

    &__name {
      color: #fff;
      font-size: 23px;
      font-weight: bold;
    }

    &__profession {
      color: #818181;
      font-size: 15px;
    }
  }
}
