.social-networks-list {
  text-align: center;
  margin: 4vh auto;
  padding: 0;

  &__icon {
    padding: 0 1.3vh;
    color: #818181;
  }

  &__icon:hover {
    color: #fff;
    cursor: pointer;
  }

  &__item {
    list-style-type: none;
    display: inline-block;
    font-size: 1.1em;
  }
}
