body{
    margin: 0;
    height: 100%;
    font-family: "Source Sans Pro", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #212528;
    height: 100%;
    position: fixed; 
    overflow: auto;
}

li a {
    display: block;
    position: relative;
    color: white;
    padding: 18px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #1c2022;
}

h1{
    font-size:1.7em;
}

h3{
    font-size: .8em;
}

.col{
    padding: 5px;
    width: calc(100%/3);
    float: left;
}

.row{
    height: 100vh;
    left: -5px;
    right: -5px;
    margin-left: 20%;
    content: "";
    display: table;
    clear: both;
}

.menu-text{
    position: absolute;
    right: 10%;
    top: 36%;
}

.intro-background{
    background: url("images/banner.jpg");
}

.intro-text{
    padding: 10%;
    text-align: center;
    color: white;
}

.underline{
    text-decoration: underline;
}

.button{
    margin-left: calc(40% - 16px);
    background-color: #78a1a0;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#portfolio{
    padding: 20px;
    height: auto;
}

.col-img{
    margin-left: 10px;
    padding: 5px;
}

.row-img{
    display: flex;
    flex-direction: column; 
    float: left;
    width: 30%;
}

.caption{
    margin-left: calc(40% - 16px);
    font-size: 1.5em;
    color: black;
}

.description{
    margin: 20px;
}

#contact{
    height: 100vh;
    padding: 20px;
    background-color: #eee;
}

.input-container{
    display: block;
    margin: 10px;

}

.message-input{
    display: block;
    height: 60vh;
    width: 100%;
}

.input{
    display: inline-block;
    width: 45%;
    margin-bottom: 7px; 
}

.input-email{
    float: right;
}