@import './styles';

form {
  flex-direction: column;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
