@import "./base/scaffolding.pcss";

@import "./components/sidebar.pcss";
@import "./components/main.pcss";
@import "./components/contact.pcss";
@import "./components/description.pcss";
@import "./components/greetings.pcss";
@import "./components/images.pcss";
@import "./components/navigation.pcss";
@import "./components/networks.pcss";
@import "./components/profile.pcss";
@import "./components/sidebar.pcss";

